

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
img,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  display: block;
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
    /* background-image:url('images/Depositphotos_211953146_XL\ \(1\).jpg'); */
  /* color: #000000; */
  /* font-family: 'Circe', sans-serif; */
  /* padding: 20px 0 0; */
  font-weight: 400;
  line-height: 1.24;
  /* background-color: #faf9f7; */
  /* height: 100%;
  width: 100%; */
}  

/* html{
 background-image:url('images/Depositphotos_211953146_XL\ \(1\).jpg');
} */