html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
img,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
/* *:hover, */
*:focus {
  outline: none;

  /* border: 1px solid #007a7e; */
}

img,
video {
  display: block;
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Raleway, sans-serif';
  font-weight: 400;
  line-height: 1.24;
}

button {
  font-family: 'Dancing Script, cursive';
  font-style: italic;
  font-weight: 600;
  line-height: 1.24;
}
/* html{
 background-image:url('images/Depositphotos_211953146_XL\ \(1\).jpg');
} */
